<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="ordenando.js"></script>
</head>

<body>

    <div id="app">
        

        <!-- Campo de input numérico -->
        <label>Número:</label>
        <input type="number" id="valor" v-model="inputNumber">
        <button @click="add">adicionar</button>

        <p></p>

        <label>Escolha um Algoritmo de Ordenação:</label>
        <!-- Campo de seleção -->
        <select v-model="selectedAlgorithm">
            <option value="bubble">Bubble Sort</option>
            <option value="selection">Selection Sort</option>
            <option value="quick">Quick Sort</option>
        </select>
        <button @click="ordenar">Ordenar</button>
        <button @click="misturar">Misturar</button>

        <!-- Lista -->
        <ul id="valores">
            <li>A</li>
            <li>B</li>
            <li>C</li>
        </ul>


</body>

</html>