<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="ordenando.js"></script>
</head>

<body>

    <div id="app">
        <h2>Escolha um Algoritmo de Ordenação:</h2>

        <!-- Campo de seleção -->
        <select v-model="selectedAlgorithm">
            <option value="bubble">Bubble Sort</option>
            <option value="selection">Selection Sort</option>
            <option value="quick">Quick Sort</option>
        </select>

        <!-- Campo de input numérico -->
        <label for="inputNumber">Número:</label>
        <input type="number" id="inputNumber" v-model="inputNumber">

        <!-- Botão -->
        <button @click="add">adicionar</button>
        <button @click="ordenar">Ordenar</button>
        <button @click="misturar">Misturar</button>

        <!-- Lista -->
        <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
        </ul>


</body>

</html>